<div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
        <form name="AddIssue">
            <div class="row">
                <label for="Title">Title: </label>
                <input type="text" id="Title" required="required" ng-model="Issue.Title">
            </div>
            <div class="row">
                <label for="Description">Description: </label>
                <input type="text" id="Description" required="required" ng-model="Issue.Description">
            </div>
            <div class="row">
                <label for="Assignee">Assignee: </label>
                <select id="Assignee"
                        ng-options="option.Username for option in Users track by option.Id"
                        ng-model="Issue.Assignee" required="required">
                </select>
            </div>
            <div class="row">
                <label for="PriorityId">PriorityId: </label>
                <select id="PriorityId"
                        ng-options="option.Name for option in Project.Priorities track by option.Id"
                        ng-model="Issue.Priority" required="required">
                </select>
            </div>
            <div class="row">
                <label for="Labels">Labels: </label>
                <input type="text" ng-model="Issue.LabelsAsString">
            </div>
            <div class="row">
                <label for="DueDate">DueDate: </label>
                <input type="datetime" ng-model="Issue.DueDate" ng-value="Issue.DueDate" required="required">
                </select>
            </div>
            <div class="row">
                <input ng-click="Edit(Issue)"  class="btn btn-success" type="button" value="Edit Issue">
            </div>
        </form>
    </div>
</div>