<div class="row">
    <div class="col-xs-6">
        <h1>Affiliated Projects</h1>
        <div ng-repeat="Project in Projects">
            <a ng-href="#/project/{{Project.Id}}">{{Project.Name}}</a>
        </div>
    </div>
    <div class="col-xs-6">
        <div>
            <table class="table" >
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Desthiption</th>
                    <th>Project</th>
                    <th>DueDate</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Issue in Issues.Issues">
                    <td><a ng-href="{{Issue.Id}}">{{Issue.Title}}</a></td>
                    <td>{{Issue.Description}}</td>
                    <td><a ng-href="{{Issue.Project.Id}}">{{Issue.Project.Name}}</a></td>
                    <td>{{Issue.DueDate}}</td>
                </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#/dashboard/1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="n in range(1,Issues.TotalPages)"><a ng-href="#/dashboard/{{n}}">{{n}}</a></li>
                    <li>
                        <a ng-href="#/dashboard/{{Issues.TotalPages}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>